@charset "UTF-8";
body{
	padding: 0px;
	margin: 0px;
}
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: black;
}

img .logo{
	padding: .8em;
	padding-left: .4em;
}

.navbar_menu {
	font-size: 2rem;
	display: flex;
	list-style: none;
}

.navbar_menu li {
	padding: 1em .8em;
}

.navbar_sideMenu {
	font-size: 1.5rem;
	list-style: none;
	display: flex;
	color: black;
	padding-right: .8em;
}

.navbar_sideMenu li {
	padding: 1em .4em;
}
