@charset "UTF-8";
.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #0f0f0f;
}

img.logo{
	padding: .8em;
	padding-left: .4em;
}

.navbar_menu {
	font-size: 2rem;
	display: flex;
	list-style: none;
}

.navbar_menu li {
	padding: 1em .8em;
}

.navbar_sideMenu {
	font-size: 1.5rem;
	list-style: none;
	display: flex;
	color: #0f0f0f;
	padding-right: .8em;
}

.navbar_sideMenu li {
	padding: 1em .4em;
}

.navbar_logo img {
	width: 60%;
	height: 30%;
}