@charset "UTF-8";

body {
	background-color: #f5f5f5;
}

section {
	text-align: center;
	padding-top: 50px;
	margin: 0;
}

main {
	width: 100%;
	max-width: 600px;
	margin: auto;
}

form {
	display: block;
	
}

input{
	font-size: 1.8rem;
	padding: .8em;
	width: 100%;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: .4em;
}

button{
	display: block;
	padding: .3em;
	border-radius: .4em;
	font-size: 1.8rem;
	width: 100%;
	background-color: silver;
	align-items: center;
	color: #ffff80;
/* 	margin-top: .5em; */
	border-color: white;
}