@charset "UTF-8";

html {
	font-size: 10px;
}

body {
	margin: 0;
	font-family: 'Noto Sans KR' !important;
}

.sideMenu {
	text-decoration: none;
	color: white;
}

.sideMenu:hover {
	text-decoration: none;
	color: white;
}
